<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">

	<!-- Application name -->
	<dubbo:application name="${dubbo.application.name}" />
	<dubbo:provider timeout="${dubbo.server.timeout}"
		registry="greensZookeeper" protocol="dubbo" port="${dubbo.protocol.port}"
		id="greensServer" payload="${dubbo.protocol.maxPayLoad}"/>
	<!-- registry address, used for service to register itself -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"
		id="greensZookeeper" />

	<!-- 成本组会计日期设置 -->
	<dubbo:service interface="org.greens.api.DubboService"
		ref="dubboServiceImple" version="1.0.0" provider="greensServer"></dubbo:service>
</beans>