<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">
    <dubbo:consumer id="greensConsumer" registry="greensZookeeper_web" check="false" />    
    <dubbo:application name="greens_web" />
  	<dubbo:registry  protocol="zookeeper" address="127.0.0.1:2181" id="greensZookeeper_web"/>
	<!--dubbo客户端  -->
	<dubbo:reference id="dubboServiceImple" interface="org.greens.api.DubboService"  consumer="greensConsumer"  check="false" version="1.0.0"/>
	
 </beans> 